{{define "footer"}}

<footer class=" bg-dark text-white-50 text-center mt-5 p-3">
  &copy; 2022 Hahoo - <a href="https://github.com/yellowStarts" class="text-white-50">GitHub</a> | <a
    href="{{ RouteName2URL "home" }}" class="text-white-50">主页</a> | <a href="{{ RouteName2URL "articles.index" }}"
    class="text-white-50">博客主页</a>
</footer>

{{end}}